<html>
    <head>
        <meta http-equiv="content-type" charset="utf-8">
        <!-- <link rel="stylesheet" type="text/css" href="css/stylesheet.css" /> -->
        <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css" />
    </head>
    <body>
        <h1 id="title">
            Controller
        </h1>
        <form action="/index" method="POST">
            <div class="control">
                <div class="control_area">
                    <button class="button" id="go" type="submit" name="ctrl" value="go">go</button>
                </div>
                <div class="control_area">
                    <button class="button" id="tl" type="submit" name="ctrl" value="tl">turn left</button>
                    <button class="button" id="stop" type="submit" name="ctrl" value="stop">stop</button>
                    <button class="button" id="tr" type="submit" name="ctrl" value="tr">turn right</button>
                </div>
                <div class="control_area">
                    <button class="button" id="back" type="submit" name="ctrl" value="back">back</button>
                </div>
            </div>
        </form>
    </body>
    <footer>
    </footer>
</html>